*{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
}
body{
    background: #fff1ef;
    color: #ffa1a19f; /* Help Main page text color */
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background_3.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 20px 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    width: 140px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px; 
}
nav ul li a{
    color: #ffa1a1b0;
    text-decoration: none;
    font-size: 20px;
    position: relative; /* Added to position the ::after pseudo-element */
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fe8ea8;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #fe8ea8;
}

/* 
    About me 
*/ 
#about{
    padding: 80px 0;
    color: #8d5524c5;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #ffa1a1;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
/* 
    About me: ski edu exp pro 
*/
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fe8ea8;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}
/* 
    About me: little list below the ski edu exp pro 
*/
.tab-contents ul li{
    list-style-type: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #fe8ea8;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* 
    About me: little list below the ski edu exp pro click feature
*/
/* 
    Project: 
*/
#projects{
    padding: 30px 0;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.project-list div{
    background: #672f0ab0;
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    transition:  0.5s, transform 0.5s;
}
.project-list div i{
    font-size: 60px;
    margin-bottom: 35px;
}
.project-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.project-list div a{
    text-decoration: none;
    color: #fe8ea8c5; /* Help Project: color of learn more   */
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}
.project-list div:hover{
    background: #fa87a244; /* Help Project: color glow change  #fa87a244 */
    transform: translate(-10px);
}
/* 
    Experience   
*/
#experiences{
    padding: 50px 0;
}
 .experience-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
 }
 .experiences{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
 }
 .experiences img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
 }
 .layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #672f0af1);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 18px;
    transition: height 0.5s;
 }
 .layer h3{
    font-weight: 500;
    margin-bottom: 20px;
 }
 .layer a{
    margin-top: 20px;
    color: #fe8ea8;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
 }
 .experiences:hover img{
    transform: scale(1.1);
 }
 .experiences:hover .layer{
    height: 100%;
 }
 .btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fe8ea850;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fe8ea8;
 }
 .btn:hover{
    background: #fe8ea8;
    color: #fff;
 }